:root {
  /* logo */
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  /* header */
  --header-link-color: #212121;
  --header-contacts-color: #757575;
  /* footer */
  --footer-bg-color: #2f303a;
  --footer-logo-second-color: #ffffff;
  --footer-location-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  /* banner */
  --banner-bg-color: #2f303a;
  --banner-title-color: #ffffff;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --btn-text-color: #ffffff;
  --btn-bg-color: #2196f3;
  --btn-accent-color: #188ce8;
  /* staff */
  --staff-section-bg-color: #f5f4fa;
  --staff-item-bg-color: #ffffff;
  --staff-position-color: #757575;
  /* clients */
  --clients-color: #afb1b8;
  /* shadows */
  --shadow-btn-1-color: rgba(0, 0, 0, 0.1);
  --shadow-btn-2-color: rgba(0, 0, 0, 0.08);
  --staff-shadow-1-color: rgba(0, 0, 0, 0.12);
  --staff-shadow-2-color: rgba(0, 0, 0, 0.14);
  --staff-shadow-3-color: rgba(0, 0, 0, 0.2);
  /* hero */
  --hero-text-color: #757575;
  /* accent */
  --accent-color: #2196f3;
  /* -------------portfolio ----------------------*/
  /* =====buttons==== */
  --c-btn-background-color: #f5f4fa;
  --c-btn-text-color: #212121;
  --c-btn-accent: #2196f3;
  --c-btn-text-accent: #ffffff;
  /* cases */
  --case-type-color: #757575;
  --case-name-color: #212121;
  /* body */
  --background-color: #ffffff;
  --body-text-color: #212121;
  --border-tools: 1px solid #eee;
  --modal-bg: #ffffff;
  --section-padding: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

body {
  margin: 0 0 0 0;
  font-family: Roboto, sans-serif;
  background: var(--background-color);
  color: var(--body-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo-first-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    text-align: left;
  }
}

.h-logo {
  color: var(--logo-second-color);
}

.f-logo {
  color: var(--footer-logo-second-color);
}

.soc-list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.soc-item:not(:first-child) {
  margin-left: 10px;
}

.soc-icons {
  fill: currentColor;
}

.agent-soc-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--banner-title-color);
  color: var(--clients-color);
}
.agent-soc-link:hover, .agent-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
}

.footer-soc-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--btn-text-color);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-invite .soc-list {
  margin-top: 20px;
}

.c-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-btn-text-color);
  background: var(--c-btn-background-color);
  border-color: var(--c-btn-background-color);
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-btn:hover, .c-btn:focus {
  background: var(--c-btn-accent);
  -webkit-box-shadow: 0px 3px 1px var(--shadow-btn-1-color), 0px 1px 2px var(--shadow-btn-2-color), 0px 2px 2px var(--staff-shadow-1-color);
          box-shadow: 0px 3px 1px var(--shadow-btn-1-color), 0px 1px 2px var(--shadow-btn-2-color), 0px 2px 2px var(--staff-shadow-1-color);
  border-radius: 4px;
  border-color: var(--c-btn-accent);
  color: var(--c-btn-text-accent);
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 479px) {
  .category-list {
    max-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .category-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (max-width: 479px) {
  .category-item:nth-child(n+3) {
    margin-top: 15px;
  }
  .category-item:nth-child(even) {
    margin-left: 8px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .category-item:nth-child(n+4) {
    margin-top: 15px;
  }
  .category-item:nth-child(3n+2) {
    margin-left: 8px;
  }
  .category-item:nth-child(3n+3) {
    margin-left: 8px;
  }
}
@media screen and (min-width: 768px) {
  .category-item:not(:first-child) {
    margin-left: 8px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header-line {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-line {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-list__item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .contacts-list__item + .contacts-list__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: 305px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
}

.menu-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-first-color);
  position: absolute;
  bottom: -1px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover .link-line {
  opacity: 1;
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-first-color);
  position: absolute;
  bottom: -1px;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.menu-list__link:hover,
.menu-list__link:focus,
.contacts-list__mail:hover,
.contacts-list__mail:focus,
.contacts-list__tel:hover,
.contacts-list__tel:focus {
  color: var(--accent-color);
}

.contacts-list__mail,
.contacts-list__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contacts-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts-list__mail,
.contacts-list__tel {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.mob-menu-open-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  margin-left: auto;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-open-btn:hover, .mob-menu-open-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mob-menu-open-btn {
    display: none;
  }
}

.banner {
  padding-top: 118px;
  padding-bottom: 118px;
  background: var(--banner-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner/banner-1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/banner-1x.jpg");
  max-width: 1600px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner/banner-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/banner-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner/banner-tab-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/banner-tab-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner/banner-tab-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/banner-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner/banner-desktop-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/banner-desktop-1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/banner/banner-desktop-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/banner/banner-desktop-2x.jpg");
  }
}

.banner__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--banner-title-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 450px) {
  .banner__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (max-width: 1199px) {
  .banner__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .banner__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background: var(--btn-bg-color);
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
          box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background: var(--btn-accent-color);
}

.cases-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .cases-list {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .cases-list {
    margin-top: 50px;
  }
}

.cases-item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .cases-item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cases-item {
    width: calc(50% - 30px);
    max-width: 354px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .cases-item:nth-child(even) {
    margin-left: 30px;
  }
  .cases-item:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .cases-item {
    max-width: 370px;
  }
  .cases-item:nth-child(3n+2) {
    margin-left: 30px;
  }
  .cases-item:nth-child(3n+3) {
    margin-left: 30px;
  }
  .cases-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

.case-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.case-link:hover, .case-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.case-file {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: var(--border-tools);
  border-right: var(--border-tools);
  border-bottom: var(--border-tools);
  border-top: none;
}

.case-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--case-name-color);
}

.case-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--case-type-color);
  margin-top: 4px;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(105%);
          transform: translatey(105%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.case-link:hover .overlay, .case-link:focus .overlay {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--banner-title-color);
  display: block;
  max-width: 322px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}
@media screen and (max-width: 400px) {
  .overlay-text {
    font-size: 14px;
    padding: 15px;
  }
}
@media screen and (min-width: 480px) {
  .overlay-text {
    padding-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  .hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.hero-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-list__item {
    width: calc(50% - 30px);
  }
  .hero-list__item:not(even) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-list__item {
    width: calc(25% - 30px);
  }
}

.hero-list__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero-list__title {
    text-align: left;
  }
}

.hero-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  margin-top: 10px;
}

.hero-list__signs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-list__icons {
  fill: var(--c-btn-text-color);
}

.service {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .service {
    display: block;
  }
}

.service-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service-list__item:not(:first-child) {
  margin-left: 30px;
}

.service-list__link {
  overflow: hidden;
  width: 370px;
  height: 294px;
  display: block;
  position: relative;
}
.service-list__link .service-list__img {
  -webkit-transition: -webkit-transform 310ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 310ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 310ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 310ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 310ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-list__link:hover .service-list__img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.service-list__type {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staff {
  background: var(--staff-section-bg-color);
}

@media screen and (min-width: 768px) {
  .staff-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .staff-list {
    margin-top: 50px;
  }
}

.staff-item {
  background: var(--staff-item-bg-color);
  -webkit-box-shadow: 0px 1px 3px var(--staff-shadow-1-color), 0px 1px 1px var(--staff-shadow-2-color), 0px 2px 1px var(--staff-shadow-3-color);
          box-shadow: 0px 1px 3px var(--staff-shadow-1-color), 0px 1px 1px var(--staff-shadow-2-color), 0px 2px 1px var(--staff-shadow-3-color);
  border-radius: 0px 0px 4px 4px;
}
.staff-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .staff-item {
    width: calc(50% - 30px);
  }
  .staff-item:not(even) {
    margin-left: 30px;
  }
  .staff-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .staff-item {
    width: calc(25% - 30px);
    margin-bottom: 0;
  }
  .staff-item:not(:first-child) {
    margin-left: 30px;
  }
}

.agent-file {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.staff-agent {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.staff-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--staff-position-color);
  margin-top: 10px;
}

.customers-list {
  margin-top: 50px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .customers-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.customers-item {
  margin-bottom: 30px;
  width: calc(50% - 30px);
}
.customers-item:not(even) {
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .customers-item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .customers-item:not(:first-child) {
    margin-left: 30px;
  }
}

.customers-item .customer-link {
  border: 1px solid var(--clients-color);
  color: var(--clients-color);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 92px;
}
@media screen and (min-width: 1200px) {
  .customers-item .customer-link {
    width: 170px;
  }
}
.customers-item .customer-link:hover, .customers-item .customer-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.customers-icon {
  fill: currentColor;
}

.mob-menu {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px 0 40px;
  position: fixed;
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1), opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 7;
}
@media screen and (max-width: 479px) {
  .mob-menu {
    padding: 10px 15px 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-close-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  background-color: transparent;
  border: none;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-close-btn:hover, .mob-menu-close-btn:focus {
  fill: var(--accent-color);
}

.mob-menu-list__item:not(:first-child) {
  margin-top: 32px;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mob-menu-list__link {
    font-size: 40px;
  }
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
}

.mob-menu-end {
  position: absolute;
  bottom: 50px;
}

.mob-contacts-list__item:not(:first-child) {
  margin-top: 32px;
}

.mob-contacts-list__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-contacts-color);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts-list__mail:hover, .mob-contacts-list__mail:focus {
  color: var(--accent-color);
}

.mob-contacts-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  color: var(--btn-bg-color);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .mob-contacts-list__tel {
    font-size: 28px;
  }
}
.mob-contacts-list__tel:hover, .mob-contacts-list__tel:focus {
  color: var(--header-contacts-color);
}

.mob-menu-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mob-menu-soc-item {
  position: relative;
}
.mob-menu-soc-item:not(:first-child) {
  margin-left: 20px;
}
.mob-menu-soc-item:not(:first-child)::before {
  content: "";
  height: 22px;
  width: 1px;
  position: absolute;
  left: -10px;
  background-color: var(--header-contacts-color);
}

.mob-menu-soc-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--btn-bg-color);
}
@media screen and (min-width: 480px) {
  .mob-menu-soc-link {
    font-size: 18px;
    line-height: 1.22;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  min-width: 320px;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (max-height: 650px) {
  .modal {
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(100%, 100%) rotateX(45deg);
          transform: translate(100%, 100%) rotateX(45deg);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--background-color);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-icon, .modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-link-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--header-contacts-color);
}

.modal-label.tel {
  margin-top: 0;
}

.modal-input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-comment:hover,
.modal-comment:focus,
.field-form:hover .modal-input,
.modal-input:focus,
.field-form:focus-within,
.field-form:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.field-form {
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  color: var(--c-btn-text-color);
  outline: none;
  width: 100%;
  max-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--btn-bg-color);
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
          box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  border: none;
  color: var(--btn-text-color);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background: var(--btn-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-check-text {
  font-size: 10px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .modal-check-text {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .modal-check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.confirmation {
  width: 16px;
  height: 15px;
  border: 2px solid var(--c-btn-text-color);
  border-radius: 3px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.confirmation:hover, .confirmation:focus {
  border-color: var(--btn-bg-color);
}

.privacy-icon {
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--btn-bg-color);
  border: none;
}
.modal-check:checked + .modal-check-text .privacy-icon {
  fill: var(--btn-text-color);
}

.privacy-link {
  font-size: 10px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--btn-bg-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-link:hover, .privacy-link:focus {
  color: var(--logo-second-color);
}
@media screen and (min-width: 480px) {
  .privacy-link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .privacy-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.follow-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .follow-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
  }
}

.follow-input {
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--banner-title-color);
  width: 100%;
  height: 50px;
  padding-left: 16px;
}
.follow-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .follow-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .follow-input {
    width: 358px;
  }
}

.follow-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: var(--banner-title-color);
  background-color: var(--btn-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  padding: 10px 28px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .follow-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}
.follow-btn:hover, .follow-btn:focus {
  background-color: var(--btn-accent-color);
}

.follow-icon {
  fill: var(--banner-title-color);
  margin-left: 10px;
}

.footer-form {
  margin-left: auto;
}

.follow-label .invite-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-invite {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-invite {
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-invite {
    margin-left: 73px;
    margin-bottom: 0;
  }
}

.invite-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--banner-title-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .invite-title {
    text-align: left;
  }
}

.footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .tab-footer-contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .tab-footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-list .footer-item:not(:first-child) {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-list .footer-item:not(:first-child) {
    margin-top: 9px;
  }
}

.footer-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
  }
}

.footer-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-location-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-location:hover,
.footer-location:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-box {
    padding-left: 61px;
  }
}/*# sourceMappingURL=main.css.map */