.c-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--c-btn-text-color);

  background: var(--c-btn-background-color);
  border-color: var(--c-btn-background-color);
  border-radius: 4px;
  cursor: pointer;
  border-style: none;

  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--c-btn-accent);
    box-shadow: 0px 3px 1px var(--shadow-btn-1-color),
      0px 1px 2px var(--shadow-btn-2-color),
      0px 2px 2px var(--staff-shadow-1-color);
    border-radius: 4px;
    border-color: var(--c-btn-accent);
    color: var(--c-btn-text-accent);
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  @media screen and (max-width: 400px) {
    max-width: 300px;
  }
  @include tablet {
    justify-content: center;
  }
}

.category-item {
  @media screen and (max-width: 400px) {
    &:nth-child(n + 3) {
      margin-top: 15px;
    }
    &:nth-child(even) {
      margin-left: 8px;
    }
  }
  @media screen and (min-width: 401px) and (max-width: 767.98px) {
    &:nth-child(n + 4) {
      margin-top: 15px;
    }
    &:nth-child(3n + 2) {
      margin-left: 8px;
    }
    &:nth-child(3n + 3) {
      margin-left: 8px;
    }
  }
  @include tablet {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}
