:root {
  /* logo */
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  /* header */
  --header-link-color: #212121;
  --header-contacts-color: #757575;
  /* footer */
  --footer-bg-color: #2f303a;
  --footer-logo-second-color: #ffffff;
  --footer-location-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  /* banner */
  --banner-bg-color: #2f303a;
  --banner-title-color: #ffffff;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --btn-text-color: #ffffff;
  --btn-bg-color: #2196f3;
  --btn-accent-color: #188ce8;
  /* staff */
  --staff-section-bg-color: #f5f4fa;
  --staff-item-bg-color: #ffffff;
  --staff-position-color: #757575;
  /* clients */
  --clients-color: #afb1b8;
  /* shadows */
  --shadow-btn-1-color: rgba(0, 0, 0, 0.1);
  --shadow-btn-2-color: rgba(0, 0, 0, 0.08);
  --staff-shadow-1-color: rgba(0, 0, 0, 0.12);
  --staff-shadow-2-color: rgba(0, 0, 0, 0.14);
  --staff-shadow-3-color: rgba(0, 0, 0, 0.2);
  /* hero */
  --hero-text-color: #757575;
  /* accent */
  --accent-color: #2196f3;
  /* -------------portfolio ----------------------*/
  /* =====buttons==== */
  --c-btn-background-color: #f5f4fa;
  --c-btn-text-color: #212121;
  --c-btn-accent: #2196f3;
  --c-btn-text-accent: #ffffff;
  /* cases */
  --case-type-color: #757575;
  --case-name-color: #212121;
  /* body */
  --background-color: #ffffff;
  --body-text-color: #212121;
  --border-tools: 1px solid #eee;
  --modal-bg: #ffffff;
  --section-padding: 94px;
}
