.footer-invite {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @include desktop {
    margin-left: 73px;

    margin-bottom: 0;
  }
}

.invite-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--banner-title-color);
  text-align: center;
  @include desktop {
    text-align: left;
  }
}
