.footer-invite {
  margin-top: 60px;
  @include tablet {
    margin-top: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 74px;
  }

  @include desktop {
    margin-left: 73px;

    margin-bottom: 0;
  }
}

.invite-title,
.follow-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--banner-title-color);
  text-align: center;
  @include desktop {
    text-align: left;
  }
}
